@{
    ViewData["Title"] = "All In 2020 - Holding Clube";
    ViewData["Message"] = "Periferia Tech";
}
<h2>
    @ViewData["Title"]
</h2>

<br />

<h3>
    @ViewData["Message"]
</h3>

<h4>
    Como criar pontes com a potência criativa da quebrada?
</h4>

<br />

<div>
    <div>
        <p>
            O enorme potencial criativo da periferia vem ganhando cada vez mais visibilidade e muito disso se deve ao trabalho de diversos coletivos e
            instituições que atuam para pulverizar conhecimento e preparar jovens para o mercado de trabalho.
        </p>
        <p>
            Por outro lado, a presença das marcas ainda é pequena entre nessa enorme parcela da população. Mas por que isso acontece? Como é possível
            sair da bolha e estar atento a esse enorme potencial cultural da comunidade? Como podemos criar pontes com esse ecossistema inovador,
            retirar insights valiosos e aproximar as marcas de um mercado consumidor que movimenta R$ 1.198 bilhão* por ano?
        </p>
        <p>
            *Dados da pesquisa “Economia das Favelas — Renda e Consumo nas Favelas Brasileiras”, desenvolvida pelos institutos Data Favela e Locomotiva.
        </p>
    </div>
</div>

<br />

<h4>
    Convidados:
</h4>

<div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <td align="center">
                        <img src="~/images/convidado_01.png" width="85" height="85" />
                    </td>
                    <td align="center">
                        <img src="~/images/convidado_02.png" width="85" height="85" />
                    </td>
                    <td align="center">
                        <img src="~/images/convidado_03.png" width="85" height="85" />
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td align="center">
                        <strong>Raull Santiago</strong>
                    </td>
                    <td align="center">
                        <strong>Monique Evelle</strong>
                    </td>
                    <td align="center">
                        <strong>Ju Ferraz</strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        Fundador do Coletivo Papo Reto e da Agência Brecha <br />
                        e integrante da Assembleia de Membros da <br />
                        Anistia Internacional do Brasil.
                    </td>
                    <td>
                        Ativista, autora e fundadora do Desabafo Social.
                    </td>
                    <td>
                        Diretora de Novos Negócios da Holding Clube.
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<br />
<br />
<br />


