@{
    ViewData["Title"] = "Holding Clube";
}
<h2>
    @ViewData["Title"]
</h2>

<br />

<h3>
    Apresentação
</h3>

<hr />

<div>
    <video id="videoPlayer" src="@Url.Content("~/video/Video.mp4")" controls autoplay="autoplay" loop />
</div>
